<!-- <div *ngIf="!isLoggedIn()">
  <app-login></app-login>
</div> -->
<!-- *ngIf="isLoggedIn()" -->



<div >
  <nav>
    <ul>
      <li><a (click)="showComponent('home')">Add Details</a></li>
      <li><a (click)="showComponent('list')">List</a></li>
      <!-- <li><a (click)="showComponent('Delete')">Delete</a></li> -->
      <li><a (click)="showComponent('edit')" >Edit </a></li>
      <!-- <li><a (click)="showComponent('orders')">Orders</a></li> -->
      <!-- <li><a (click)="showComponent('employee')">Employee</a></li> -->
    </ul>
  </nav>

  <div *ngIf="currentComponent === 'home'">
    <app-employee-form></app-employee-form>
  </div>

  <div *ngIf="currentComponent === 'list'">
    <app-employee-list></app-employee-list>
  </div>

  <div *ngIf="currentComponent === 'Delete'">
    <app-delete-employee></app-delete-employee>
  </div>

  <div *ngIf="currentComponent==='edit'">
    <app-employee-edit></app-employee-edit>
  </div>

  <!-- <div *ngIf="currentComponent==='orders'">
    <app-sample></app-sample>
 </div> -->

 <!-- <div *ngIf="currentComponent==='employee'">
  <app-employee-form></app-employee-form>
</div> -->


</div>


