<div class="container">
    <ngx-datatable
      class="bootstrap"
      [rows]="rows"
      [columns]="columns"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'">
  
      <ngx-datatable-column [width]="50">
        <ng-template ngx-datatable-header-template>
          <input type="checkbox" (change)="toggleAll($event)" />
        </ng-template>
        <ng-template ngx-datatable-cell-template let-row="row">
          <input type="checkbox" [(ngModel)]="row.selected" />
        </ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column name="Employee ID">
        <ng-template ngx-datatable-cell-template let-row="row">
          {{ row.employeeId }}
        </ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column name="Registration Date">
        <ng-template ngx-datatable-cell-template let-row="row">
          <input *ngIf="isEditing && row.selected" type="text" [(ngModel)]="row.registrationDate" />
          <span *ngIf="!isEditing">{{ row.registrationDate }}</span>
        </ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column name="EmployeeName">
        <ng-template ngx-datatable-cell-template let-row="row">
          <input *ngIf="isEditing && row.selected" type="text" [(ngModel)]="row.employeeName" />
          <span *ngIf="!isEditing">{{ row.employeeName }}</span>
        </ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column name="JobTitle">
        <ng-template ngx-datatable-cell-template let-row="row">
          <input *ngIf="isEditing && row.selected" type="text" [(ngModel)]="row.position" />
          <span *ngIf="!isEditing">{{ row.position }}</span>
        </ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column name="PhoneNumber">
        <ng-template ngx-datatable-cell-template let-row="row">
          <input *ngIf="isEditing && row.selected" type="text" [(ngModel)]="row.phoneNo" />
          <span *ngIf="!isEditing">{{ row.phoneNo }}</span>
        </ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column name="Email">
        <ng-template ngx-datatable-cell-template let-row="row">
          <input *ngIf="isEditing && row.selected" type="text" [(ngModel)]="row.email" />
          <span *ngIf="!isEditing">{{ row.email }}</span>
        </ng-template>
      </ngx-datatable-column>
  
    </ngx-datatable>
  
    <button class="btn btn-primary" (click)="editSelected()">
      {{ isEditing ? 'Save Changes' : 'Edit Selected' }}
    </button>
  </div>
  